*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.active {
  background-color: rgb(71, 69, 69);
}

:root {
  --font-style: Arial, sans-serif;
  --font-style0:'Source Sans Pro', 'Arial';
}

body{
  color: white;
  background-color: #121212;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family:  'Source Sans Pro', 'Arial'; */
}


#mycolumn7container{
  padding-left: 45px;
}




@media screen and (max-width: 1500px) {
  svg {
    display: none;
  }
}

@media screen and (max-width: 985px) {
  #mycolumn7container{
    padding-left: 0px;
  }
}